header {
	background-image: url('../img/bg.jpg');
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  width:auto;
  height:auto;
  max-width: 400px;
  margin: 0 auto;
  align-content: center;
}

header.primary section.face img{
    position:relative;
    margin:auto;
}


#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: #85929E;
  position:absolute;
  width:100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
 
   
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 20px;
  text-align:center;
  top: 50%;
  margin-top: -12px;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin:auto;
   text-align:center;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

.bg-light-gray {
  background-color: #eeeeee;
}

#portfolio .portfolio-item {
  margin: 0 0 25px;
  right: 0;
}


#portfolio .portfolio-item .portfolio-caption {

  margin:auto;
  background-color: white;
  text-align: center;
  padding: 25px;
  max-width:400px;
  height:auto;
   /*margin: auto;*/
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 768px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;

  }
}
portfolioModal2
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}

.open > .dropdown-toggle.btn-primary {
	 background-color: #337ab7;
	}

.bg-primary {
  background-color:  #85929E;
}

.btn-primary {
  color: white;
  background-color: #85929E;
  margin:30px;
  border-color: #F05F40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #5D6D7E;
  border-color: #ed431f;
}

hr {
  border-color: #85929E;
  border-width: 3px;
  max-width: 50px;
}

section #contact .section-heading {
  color: white;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 45px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section#contact .section-heading {
  color: white;
}
.hello img{
   
    max-width:100%;
  height:auto;
   margin: auto;
}
.hello img:hover{
     /*transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  background: #85929E;*/
  
}

.skills {
  text-align: center;
  margin-bottom: 50px;
}
.skills img {
  margin: auto;
  border: 7px solid white;
  max-width:100%;
  height:auto;
 
}

.skills img:hover{
     -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.skills h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.skills p {
  margin-top: 0;
}

.bg-projects {
  background-color: whitesmoke;
}

.h1
{
	text-decoration-color: #85929E
}
@media (min-width: 768px)
{
    .navbar-default .navbar-header .navbar-brand,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: white;
    }
    .navbar-default .navbar-header .navbar-brand:hover {
        color: yellow;
    }
}

 /*.navbar-default .navbar-header .navbar-brand,
.navbar-default .navbar-header .navbar-brand:focus
 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: black;
}*/
/*.navbar-default .navbar-header .navber-brand,
.navbar-default .navbar-header .navber-brand:hover {
  color: #FFFF00;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}*/
  /*.navbar-default.affix .navbar-header .navbar-brand {
    color: #85929E;
    font-size: 14px;
  }*/


  .content-color
  {
  	color: white;
  }

  .portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
  text-align: justify;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}


h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

a{
   font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

.call-to-action h2 {
  margin: 10px auto 10px;
}

.bg-dark h4
{
	margin-top: 0px;
	margin-bottom: 20px
}

/*.navbar-default .navbar-header .navbar-brand {
  color: #FFFFFF;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}*/

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: black;
}

@media (min-width: 768px)
{
    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        color: white;
    }
    .navbar-default .nav > li > a:hover {
  //color: yellow;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
}

    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
        color: yellow;
    }


  .navbar-default.affix .navbar-header .navbar-brand {
    color: #85929E;
    font-size: 14px;

  }

  header .header-content .header-content-inner p {
  font-weight: 400;
  color: rgba(255, 255, 255, 255);
  font-size: 20px;
  font-family:cursive;
  margin-bottom: 50px;
}
  hr.colored{
      border-color:gray;
          border-top-width: 1px;
    border-top-style: solid;
        border-bottom-width: 1px;
     border-bottom-style: solid;
  }